#Default cargo targets 
/target
/gpass-bin/target 
/gpass-bin/Cargo.lock 
Cargo.lock 

#VSCode folders 
*.code-workspace
.vscode 
.vscode-insiders 
local.json 

#Manual testing files 
/mantest
input.txt

#Old source files
src/getch_implement.rs
src/output_stream.rs